@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
  margin: 0 auto;
  font-family: 'Noto Sans TC', 'Noto Sans', sans-serif;
  overflow-x: hidden;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }
}

.usedbook {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-image: url("../images/bg.jpg");

  nav {
    width: 100%;
    height: 60px;
    background-color: #343434;
    display: flex;
    align-items: center;
    justify-content: center;

    .center{
      width: 960px;
      display: flex;
      align-items: center;

      .icon {
        flex:1;
        color: white;
        font-style: italic;
        font-weight: 900;
      }

      ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 2;

        li {
          cursor: pointer;
        }

        a {
          color: white;
        }
      }
    }
  }

  article {
    width: 960px;

    .advertising {
      width: 100%;
      height: 400px;
      position: relative;

      $leftMadkWidth: calc((100vw - 960px)/2);
      $rightMaskWidth: calc((100vw - 960px)/ -2);

      .mask {
        height: 400px;
        background-color: rgba(255,255,255,0.5);
        position: absolute;
        z-index: 1;
      }

      .mask-left {
        width: $leftMadkWidth;
        left: $rightMaskWidth;
      }

      .mask-right {
        width: $leftMadkWidth;
        right: $rightMaskWidth;
      }


      .slide {
        display: flex;
        position: absolute;
        left: -960px;

        .img {
          width: 960px;
          height: 400px;
          cursor: pointer;
        }
      }

      .arrow {
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        color: black;
        opacity: 0.2;
        cursor: pointer;
      }

      .arrow:hover {
        opacity: 0.7;
      }

      .post-arrow {
        left:20px;
      }

      .next-arrow {
        right:20px;
      }
    }

    .college {
      width: 100%;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-size: 2em;
        color: #1A4DC3;
        font-weight: 900;
      }

      .row {
        display: flex;
        justify-content: space-around;
      }

      .college-icon {
        width: 150px;
        height: 150px;
        margin: 30px 0 10px 0;
        background-size: contain;
        background-repeat: no-repeat;
        transition: all 0.3s;
        cursor: pointer;
      }

      .college-icon:hover{
        transform: scale(1.2);
      }

      #cmee {
        background-image: url("../images/CMEE.png");
      }

      #cecs {
        background-image: url("../images/CECS.png");
      }

      #coe {
        background-image: url("../images/COE.png");
      }

      #com {
        background-image: url("../images/COM.png");
      }

      #des {
        background-image: url("../images/DES.png");
      }

      #coss {
        background-image: url("../images/COSS.png");
      }

      #tunshi {
        background-image: url("../images/tunshi.png");
      }

      #other {
        background-image: url("../images/other.png");
      }
    }
  }

  footer {
    width: 100%;
    height: 50px;
    background-color: #343434;
    display: flex;
    justify-content: center;


    .content {
      width: 960px;
      color: white;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .relate {
      a {
        color: white;
      }
    }
  }

  #modal {
    display: none;
    position: absolute;
    z-index: 20;
    top:0;
    left: 0;

    .modal-close {
      position: absolute;
      top: 10px;
      right: 12px;
      color: white;
      cursor: pointer;
    }

    .modal-close:hover {
      color: #00b3ee;
    }

    .modal-content {
      background-color: white;
      border-radius: 10px;
      box-shadow: 6px 10px 16px 5px rgba(0,0,0,0.5);
      overflow: hidden;
    }

    .determine {
      width: 100px;
      height: 30px;
      background-color: #66afe9;
      color: white;
      border-radius: 5px;
      position: absolute;
      bottom: 20px;
      right: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

    }

    .determine:active {
      transform: scale(0.9);
    }
  }


  #overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 200%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.7);
  }
}
